nav.top-nav {
    height: 70px;
    box-shadow: none;
}
header, main, footer {
    padding-left: 190px;
}
a.page-title {
    line-height: 70px;
    font-size: 30px;
}
nav .button-collapse i{
    line-height: 70px;
}

.tabs .indicator {
    background-color: #B2E6F6;
}

.file-field input.file-path {
    margin-left: 100px;
    width: calc(100% - 165px);
    margin-left: 170px;
}

.preloader-top{
  top:12px;
}

iframe{
  width: 1024px;
  margin-top: 20px;
  height: 600px;
}

@media only screen and (max-width: 992px){
    header, main, footer {
        padding-left: 0;
    }
}

@media only screen and (min-width: 993px){
    .container {
        width: 85%;
    }
}

@media only screen and (min-width: 800px){
    .row .col.s12.letter-grid{
        width: 750px;
    }
    .box, .letter{
        font-size: 30px;
    }
    .letter-grid-row{
        margin-left: 70px;
    }
    #content.letter-grid{
        width: 940px;
    }
}

.row .col.s12.letter-panel{
    width: auto;
}

.ospan-question{
    margin-top: 2em;
}

.ospan-question-timeout{
    margin-top: 3em;
    margin-bottom: 3em;
}

.ospan-result{
    margin-top: 2em;
    margin-right: 3em;
    margin-left: 3em;
}
.ospan-answer{
    margin-top: 3em;
    margin-bottom: 3em;
    margin-left: 5em;
    margin-right: 5em;
}
.ospan-question-help{
    margin-bottom: 5em;
}

.ospan-result-summary{
    margin-bottom: 3em;
    display: inline-block;
}

.letter-grid-help{
    display: inline-block;
    margin-bottom: 2em;
}

.letter-panel h1{
    margin: 2em;
}
.box{
    border: 1px solid black;
    text-align: center;
    cursor: pointer;
}
.letter-container{
    margin-top: 2em;
}