<!doctype html>
<html lang="en-US">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>OSPAN - Demo</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="static/css/materialize.min.css">
        <link rel="stylesheet" href="static/css/main.css">
        <link href="static/css/shCore.css" rel="stylesheet" type="text/css" />
        <link href="static/css/shThemeDefault.css" rel="stylesheet" type="text/css" />
        <style>
            p {
                font-size: 18px;
            }
        </style>

    </head>
    <body class="cyan grey-text text-darken-3">
        <div id="content" style="max-width:80%;margin:0 auto;">
            <div id="login-page" class="row">
                <div class="col s12 z-depth-4 card-panel">
                    <form action="/" method="post">
                        <div class="module-question">
                            <h5>1-What of the following is the default value of a local variable?</h5>
                            <p>
                                <p>
                                  <input class="with-gap" name="answer-0" value="0" type="radio" id="1-answer-0" />
                                  <label for="1-answer-0">Null</label>
                                </p>
                                <p class="grasping">
                                  <input class="with-gap" name="answer-0" value="1" type="radio" id="2-answer-0" />
                                  <label for="2-answer-0"> 0</label>
                                </p>
                                <p>
                                  <input class="with-gap" name="answer-0" value="2" type="radio" id="3-answer-0"  />
                                  <label for="3-answer-0">Depends upon the type of variable</label>
                                </p>
                                <p>
                                  <input class="with-gap" name="answer-0" value="3" type="radio" id="4-answer-0"  />
                                  <label for="4-answer-0">Not assigned</label>
                                </p>
                            </p>
                        </div>
                        <div class="module-question">
                            <h5>2- What is class variable?</h5>
                            <p>
                                <p>
                                  <input class="with-gap" name="answer-1" value="0" type="radio" id="1-answer-1" />
                                  <label for="1-answer-1">class variables are static variables within a class but outside any method.</label>
                                </p>
                                <p class="grasping">
                                  <input class="with-gap" name="answer-1" value="1" type="radio" id="2-answer-1" />
                                  <label for="2-answer-1">class variables are variables defined inside methods, constructors or blocks.</label>
                                </p>
                                <p>
                                  <input class="with-gap" name="answer-1" value="2" type="radio" id="3-answer-1"  />
                                  <label for="3-answer-1">class variables are variables within a class but outside any method.</label>
                                </p>
                                <p>
                                  <input class="with-gap" name="answer-1" value="3" type="radio" id="4-answer-1"  />
                                  <label for="4-answer-1">None of the above.</label>
                                </p>
                            </p>
                        </div>
                        <div class="module-question">
                            <h5>3-local variables are created in</h5>
                            <p>
                                <p>
                                  <input class="with-gap" name="answer-2" value="0" type="radio" id="1-answer-2" />
                                  <label for="1-answer-2">Methods</label>
                                </p>
                                <p class="grasping">
                                  <input class="with-gap" name="answer-2" value="1" type="radio" id="2-answer-2" />
                                  <label for="2-answer-2">Constructors</label>
                                </p>
                                <p>
                                  <input class="with-gap" name="answer-2" value="2" type="radio" id="3-answer-2"  />
                                  <label for="3-answer-2">Blocks</label>
                                </p>
                                <p>
                                  <input class="with-gap" name="answer-2" value="3" type="radio" id="4-answer-2"  />
                                  <label for="4-answer-2">All of these</label>
                                </p>
                            </p>
                        </div>

                        <div class="module-question">
                            <h5>4-Static variables are</h5>
                            <p>
                                <p>
                                  <input class="with-gap" name="answer-3" value="0" type="radio" id="1-answer-3" />
                                  <label for="1-answer-3">Created when the program starts</label>
                                </p>
                                <p class="grasping">
                                  <input class="with-gap" name="answer-3" value="1" type="radio" id="2-answer-3" />
                                  <label for="2-answer-3">Destroyed when the program stops</label>
                                </p>
                                <p>
                                  <input class="with-gap" name="answer-3" value="2" type="radio" id="3-answer-3"  />
                                  <label for="3-answer-3">Declared inside the class</label>
                                </p>
                                <p>
                                  <input class="with-gap" name="answer-3" value="3" type="radio" id="4-answer-3"  />
                                  <label for="4-answer-3">All of the above.</label>
                                </p>
                            </p>
                        </div>
                        <div class="module-question">
                            <h5>5- Values for instance variables can be assigned </h5>
                            <p>
                                <p>
                                  <input class="with-gap" name="answer-4" value="0" type="radio" id="1-answer-4" />
                                  <label for="1-answer-4">During declaration</label>
                                </p>
                                <p class="grasping">
                                  <input class="with-gap" name="answer-4" value="1" type="radio" id="2-answer-4" />
                                  <label for="2-answer-4">Within constructor</label>
                                </p>
                                <p>
                                  <input class="with-gap" name="answer-4" value="2" type="radio" id="3-answer-4"  />
                                  <label for="3-answer-4">In special static initializer blocks</label>
                                </p>
                                <p>
                                  <input class="with-gap" name="answer-4" value="3" type="radio" id="4-answer-4"  />
                                  <label for="4-answer-4">All of the above.</label>
                                </p>
                            </p>
                        </div>
                        <div class="module-question">
                            <h5>6- Default values for static variables are </h5>
                            <p>
                                <p>
                                  <input class="with-gap" name="answer-5" value="0" type="radio" id="1-answer-5" />
                                  <label for="1-answer-5">0 for numbers</label>
                                </p>
                                <p class="grasping">
                                  <input class="with-gap" name="answer-5" value="1" type="radio" id="2-answer-5" />
                                  <label for="2-answer-5">Null for object references.</label>
                                </p>
                                <p>
                                  <input class="with-gap" name="answer-5" value="2" type="radio" id="3-answer-5"  />
                                  <label for="3-answer-5">False for Booleans</label>
                                </p>
                                <p>
                                  <input class="with-gap" name="answer-5" value="3" type="radio" id="4-answer-5"  />
                                  <label for="4-answer-5">All of above</label>
                                </p>
                            </p>
                        </div>

                        <div class="module-question">
                            <h5>7-Access modifiers used for local variables are</h5>
                            <p>
                                <p>
                                  <input class="with-gap" name="answer-6" value="0" type="radio" id="1-answer-6" />
                                  <label for="1-answer-6">Private</label>
                                </p>
                                <p class="grasping">
                                  <input class="with-gap" name="answer-6" value="1" type="radio" id="2-answer-6" />
                                  <label for="2-answer-6">Public</label>
                                </p>
                                <p>
                                  <input class="with-gap" name="answer-6" value="2" type="radio" id="3-answer-6"  />
                                  <label for="3-answer-6">Protected</label>
                                </p>
                                <p>
                                  <input class="with-gap" name="answer-6" value="3" type="radio" id="4-answer-6"  />
                                  <label for="4-answer-6">None of the above.</label>
                                </p>
                            </p>
                        </div>
                        <div class="module-question">
                            <h5>8- Static variables are also known as class variables</h5>
                            <p>
                                <p>
                                  <input class="with-gap" name="answer-7" value="0" type="radio" id="1-answer-7" />
                                  <label for="1-answer-7">True</label>
                                </p>
                                <p class="grasping">
                                  <input class="with-gap" name="answer-7" value="1" type="radio" id="2-answer-7" />
                                  <label for="2-answer-7">False</label>
                                </p>
                    
                            </p>
                        </div>
                        <div class="module-question">
                            <h5>9-Access modifiers can be used for local variables.</h5>
                            <p>
                                <p>
                                  <input class="with-gap" name="answer-8" value="0" type="radio" id="1-answer-8" />
                                  <label for="1-answer-8">True</label>
                                </p>
                                <p class="grasping">
                                  <input class="with-gap" name="answer-8" value="1" type="radio" id="2-answer-8" />
                                  <label for="2-answer-8">False</label>
                                </p>                              
                            </p>
                        </div>
                        <div class="module-question">
                            <h5>10-Static variables are rarely used other than being declared as constants</h5>
                            <p>
                                <p>
                                  <input class="with-gap" name="answer-9" value="0" type="radio" id="1-answer-9" />
                                  <label for="1-answer-9">True.</label>
                                </p>
                                <p class="grasping">
                                  <input class="with-gap" name="answer-9" value="1" type="radio" id="2-answer-9" />
                                  <label for="2-answer-9">False.</label>
                                </p>
                             
                            </p>
                        </div>
                        <div class="button" id="module-btn">
                            <button type="submit" class="btn-large waves-effect waves-pink pink lighten-1" style="margin:3em;">Submit Answers</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <script src="static/js/vendor/jquery-1.11.2.min.js"></script>
        <script src="static/js/vendor/handlebars-v3.0.3.js"></script>
        <script src="static/js/vendor/materialize.min.js"></script>
        <script src="static/js/vendor/materialize.clockpicker.js"></script>
        <script type="text/javascript" src="static/js/shCore.js"></script>
        <script type="text/javascript" src="static/js/shBrushJava.js"></script>
        <script src="static/js/main.js"></script>
        <script>$(app.init);</script>
    </body>
</html>
