<!doctype html>
<html lang="en-US">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>OSPAN - Demo</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="static/css/materialize.min.css">
        <link rel="stylesheet" href="static/css/page-center.css">
        <link rel="stylesheet" href="static/css/main.css">
    </head>
    <body class="cyan grey-text text-darken-3">
        <div id="content" class="letter-grid" style="max-width:80%;margin:0 auto;">
            <div id="login-page" class="row" >
                <div class="col s12 z-depth-4 card-panel left-align letter-grid">
                    <h5 class="letter-grid-help">Select letters in order.</h5>
                    <div class="row letter-grid-row">
                        <div class="col s6 m4 letter-container">
                            <div class="row">
                                <div class="box col s6 m4" data-letter="F">_</div>
                                <div class="col s6 m4 letter">F</div>
                            </div>
                        </div>
                        <div class="col s6 m4 letter-container">
                            <div class="row">
                                <div class="box col s6 m4" data-letter="H">_</div>
                                <div class="col s6 m4 letter">H</div>
                            </div>
                        </div>
                        <div class="col s6 m4 letter-container">
                            <div class="row">
                                <div class="box col s6 m4" data-letter="J">_</div>
                                <div class="col s6 m4 letter">J</div>
                            </div>
                        </div>
                        <div class="col s6 m4 letter-container">
                            <div class="row">
                                <div class="box col s6 m4" data-letter="K">_</div>
                                <div class="col s6 m4 letter">K</div>
                            </div>
                        </div>
                        <div class="col s6 m4 letter-container">
                            <div class="row">
                                <div class="box col s6 m4" data-letter="L">_</div>
                                <div class="col s6 m4 letter">L</div>
                            </div>
                        </div>
                        <div class="col s6 m4 letter-container">
                            <div class="row">
                                <div class="box col s6 m4" data-letter="N">_</div>
                                <div class="col s6 m4 letter">N</div>
                            </div>
                        </div>
                        <div class="col s6 m4 letter-container">
                            <div class="row">
                                <div class="box col s6 m4" data-letter="P">_</div>
                                <div class="col s6 m4 letter">P</div>
                            </div>
                        </div>
                        <div class="col s6 m4 letter-container">
                            <div class="row">
                                <div class="box col s6 m4" data-letter="Q">_</div>
                                <div class="col s6 m4 letter">Q</div>
                            </div>
                        </div>
                        <div class="col s6 m4 letter-container">
                            <div class="row">
                                <div class="box col s6 m4" data-letter="R">_</div>
                                <div class="col s6 m4 letter">R</div>
                            </div>
                        </div>
                        <div class="col s6 m4 letter-container">
                            <div class="row">
                                <div class="box col s6 m4" data-letter="S">_</div>
                                <div class="col s6 m4 letter">S</div>
                            </div>
                        </div>
                        <div class="col s6 m4 letter-container">
                            <div class="row">
                                <div class="box col s6 m4" data-letter="T">_</div>
                                <div class="col s6 m4 letter">T</div>
                            </div>
                        </div>
                        <div class="col s6 m4 letter-container">
                            <div class="row">
                                <div class="box col s6 m4" data-letter="Y">_</div>
                                <div class="col s6 m4 letter">Y</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 buttons">
                            <div class="input-field col s5">
                              <button id="clearbtn" class="btn pink lighten-1 waves-effect waves-light col s12">Clear</button>
                            </div>
                            <div class="input-field col s5 offset-s2">
                              <button id="exitbtn" class="btn pink lighten-1 waves-effect waves-light col s12">Exit</button>
                            </div>
                        </div>
                        <form action="/" method="post">
                            <input type="hidden" name="Letters" id="Letters">
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <script src="static/js/vendor/jquery-1.11.2.min.js"></script>
        <script src="static/js/vendor/handlebars-v3.0.3.js"></script>
        <script src="static/js/vendor/materialize.min.js"></script>
        <script src="static/js/vendor/materialize.clockpicker.js"></script>
        <script src="static/js/main.js"></script>
        <script>$(app.init);</script>
        <script type="text/javascript">
            var letters = []
            $(function(){
                $(".box").on("click", function(){
                    letters.push($(this).data("letter"))
                    $(this).text(letters.length);
                });
                $("#clearbtn").on("click", function(){
                    window.location.reload();
                });
                $("#clearbtn").on("click", function(){
                    window.location.reload();
                });
                $("#exitbtn").on("click", function(){
                    $("#Letters").val(letters.join(","));
                    $("form").submit();
                });
            });
        </script>
    </body>
</html>
