<!doctype html>
<html lang="en-US">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>OSPAN - Demo</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="static/css/materialize.min.css">
        <link rel="stylesheet" href="static/css/page-center.css">
        <link rel="stylesheet" href="static/css/main.css">
    </head>
    <body class="cyan grey-text text-darken-3">
        <div id="content" style="max-width:80%;margin:0 auto;">
            <div id="login-page" class="row" >
                <div class="col s12 z-depth-4 card-panel center-align">
                    <div class="row">
                        <div class="col s12">
                            <h3 class="ospan-answer">{{.Option}}</h3>
                        </div>
                        <div class="col s12 buttons">
                            <div class="input-field col s5">
                              <button id="truebtn" class="btn-large pink lighten-1 waves-effect waves-light col s12">True</button>
                            </div>
                            <div class="input-field col s5 offset-s2">
                              <button id="falsebtn" class="btn-large pink lighten-1 waves-effect waves-light col s12">False</button>
                            </div>
                        </div>
                        <form method="post" action="/">
                            <input id="IsTrue" type="hidden" name="IsTrue">
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <script src="static/js/vendor/jquery-1.11.2.min.js"></script>
        <script src="static/js/vendor/handlebars-v3.0.3.js"></script>
        <script src="static/js/vendor/materialize.min.js"></script>
        <script src="static/js/vendor/materialize.clockpicker.js"></script>
        <script src="static/js/main.js"></script>
        <script>$(app.init);</script>
        <script type="text/javascript">
            $("#truebtn").on("click", function(){
                $("#IsTrue").val("1");
                $("form").submit();
            });
            $("#falsebtn").on("click", function(){
                $("#IsTrue").val("0");
                $("form").submit();
            });
        </script>
    </body>
</html>
